{% extends 'base/base.html' %}
{% load staticfiles %}
{% block extrahead %}
    <meta charset="utf-8">
{% endblock %}

{% block style %}
.carousel slide{
width:auto;
height:auto;
display:inline-block;
}


{% endblock %}


{% block header %}
<div id="car1" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#car1" data-slide-to="0" class="active"></li>
    <li data-target="#car1" data-slide-to="1"></li>
    <li data-target="#car1" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <p>&nbsp</p>
   <div class="container2">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <a href="/lecciones/ver">
      <img class="img-fluid" src="{% static 'images/Cursos2.png'%}" alt="Los Angeles">
            </a>
    </div>
    <div class="carousel-item">
      <a href="/usuarios/perfil">
      <img class="img-fluid" src="{% static 'images/Perfil.png'%}" alt="Chicago">
         </a>
    </div>
    <div class="carousel-item">
      <a href="/usuarios/nosotros">
      <img class="img-fluid" src="{% static 'images/Nosotros.png'%}" alt="New York">
        </a>
    </div>
  </div>
   </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#car1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#car1" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block extrajs%}
{% endblock %}
