{% extends 'base/base.html' %}
{% load staticfiles %}

{%block style%}

.aboutus-section{
background-color: #F0F8FF;
margin: auto;
width: 90%;
}

.aboutus{
width:auto;
}


.feature{
width:100%;
max-width:600px;
margin-top:60px;
}



.container3{
    margin: auto;
    width: 90%;
}

{%endblock%}

<title>{% block title %} Nosotros {% endblock %}</title>

{% block space%}
<p>&nbsp</p>
<p>&nbsp</p>
<br>
{% endblock %}

{% block content %}
 <div class="aboutus-section">
        <div class="container3">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <br>
                        <h2 class="aboutus-title"><strong>Sobre Nosotros</strong></h2>
                        <p class="aboutus-text">{{texto1}}</p>
                    </div>
                </div>
                <div class="banner col-md-3">
                    <br><br>
                    <div class="aboutus-banner">
                        <img src="{% static 'images/Logo-UCAB-04.png'%}" alt="">
                        <p></p>
                        <img src="{% static 'images/IA_1.jpg'%}" alt="">
                    </div>
                </div>
                    <br><br>
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>¿Qué Somos?</h4>
                                    <p>{{texto2}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>¿Por qué lo hacemos?</h4>
                                    <p>{{texto3}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs%}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
