{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
{% endblock %}

{%block style%}

.aboutus-section{
background-color: #F0F8FF;
}

.aboutus{
width:450px;
padding-left: 10px;
}

.container3{
margin:auto;
width:1300px;
height:370px;
}

.feature-content{
margin-left:20px;
}

.banner{
margin-left:170px;
}

{%endblock%}

{% block space%}
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
{% endblock %}

{% block content %}
<div class="aboutus-section">
        <div class="container3">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <br>
                        <h2 class="aboutus-title"><strong>Sobre Nosotros</strong></h2>
                        <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                        <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                    </div>
                </div>
                <div class="banner col-md-3">
                    <br><br>
                    <div class="aboutus-banner">
                        <img src="{% static 'images/Logo-UCAB-04.png'%}" alt="">
                        <p></p>
                        <img src="{% static 'images/IA_1.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <br><br>
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>¿Qué Somos?</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>¿Por qué lo hacemos?</h4>
                                    <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs%}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
