{% extends 'base/base.html' %}
{% load staticfiles %}

 <title>{% block title %} Progreso {% endblock %}</title>

{% block style %}
.btn{
width:250px;
}


{% endblock %}

{% block space%}
{% endblock %}

{% block content %}
<div class="top-content">
            <div class="inner-bg">
                <div class="container2">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Progreso</h3>
                            		<p>Usted se quedo en:</p>
                        		</div>
                        		<div class="form-top-right col-sm-11">
                        			<i><img class="logo" src="{% static 'images/Profile-512.png'%}"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Curso</th>
                                            <th scope="col">Lección</th>
                                            <th scope="col">Tema</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in progreso %}
                                        <tr>
                                            <th scope="row">{{i.0}}</th>
                                            <td>{{i.1}}</td>
                                            <td>{{i.2}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div align="center" class="form-group">
                                    <a href="{% url 'perfil' %}" ><button style="background-color:#FF0000;" class="btn">Regresar</button></a>
                                </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
