{% extends 'base/base.html' %}
{% load staticfiles %}

{%block style%}

table{
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.tr1:hover {background-color:#8BFFFF;}

td{
cursor: pointer;
padding: 200px;
}

td, th {
color:#FFFFFF;
}

tr:nth-child(even) {
background-color: #F0F0F0;
}
tr:nth-child(odd) {
background-color: #FFFFFF;
}

.container3{
    margin: auto;
    width: 100%;
    max-width: 600px;
     margin-top:-10px;
}

a {
  display: block;

}

.back{
margin-left:200px;
}

/* The side navigation menu */
.sidebar {
width: 100%;
height: 9.5%;
position: relative;
  margin: 0;
  padding: 0;
  background-color: #191970;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
float: left;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 0px;
  margin-top:-40px;
}

@media screen and (max-width: 780px) {
.back{
        margin-left:0px;
    }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    float:none;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

}
{%endblock%}

<title>{% block title %} Cursos {% endblock %}</title>

{% block space%}
<p>&nbsp</p>
{% endblock %}

{%block header%}
 <!-- The sidebar -->
<br>
<div class="sidebar">
    <a class="back"  href="{% url 'index' %}"> <img class="logo" src="{% static 'images/back2.png'%}"></a>
</div>
{%endblock%}

{% block content %}
<div class="content">
 <div class="inner-bg">
     <div class="container3">
         <table class="table">
             <thead>
             <tr>
                 <th style="background-color: #82ACFF;">Cursos</th>
             </tr>
             </thead>
             <tbody>
             {% for i in lista %}
             <tr class="tr1">
                 <td class="td2" style=""><a href="{% url 'verlecciones' curso_id=i.pk %}">{{i.nombre}}</a></td>
             </tr>
             {% endfor %}
             </tbody>
         </table>
         </div>
     </div>
 </div>
</div>
{% endblock %}

