{% extends 'base/base.html' %}
{% load staticfiles %}


 <title>{% block title %} Error {% endblock %}</title>

{%block style%}

.info{
margin-bottom:15px;
margin-top:-15px;
text-align:center;
}

.info2{
margin-bottom:25px;
margin-top:-5px;
text-align:center;
}



.form-group{
margin-bottom:-15px;
}

.form-bottom{
background-color:#323232;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
text-align:center;
}



{%endblock%}

{% block space%}
<p>&nbsp</p>
<br>
{% endblock %}

{% block content %}
<div class="top-content">
          <div class="inner-bg">
     <div class="container">
         <div class="form-bottom">
             <div class="info2" >
                <strong>
                    <a class="titulo"><font color=#DC143C  size=8px>Error <img class="logo" src="{% static 'images/error.png'%}"></font></a>
                </strong>
             </div>
             <p></p>
             <div class="info" >
                <strong>
                    {% for message in messages %}
                    <a class="mensaje" href="" target="_blank"><font color=#FF0000  size=5px>{{message}}</font></a>
                    {% endfor %}
                </strong>
            </div>
             <div align="center" class="form-group">
                 <a href="/usuarios/index" ><button style="background-color:#0000FF;" class="btn">Regresar</button></a>
             </div>
         </div>
     </div>
 </div>
</div>

{% endblock %}



