{% extends 'base/base.html' %}
{% load staticfiles %}

{%block style%}

table{
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.tr1:hover {background-color:#8BFFFF;}

td{
cursor: pointer;
padding: 200px;
}

td, th {
color:#FFFFFF;
}

tr:nth-child(even) {
background-color: #F0F0F0;
}
tr:nth-child(odd) {
background-color: #FFFFFF;
}

.container3{
    margin: auto;
    width: 100%;
    max-width: 600px;
 margin-top:-10px;
}


a {
  display: block;
}

.back{
margin-left:200px;
}


/* The side navigation menu */
.sidebar {
width: 100%;
height: 9.5%;
position: relative;
  margin: 0;
  padding: 0;
  background-color: #191970;
  overflow: auto;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
float: left;
margin-right:-25px;
}

.ubi{
display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
float: left;
margin-top:10px;
}

@media screen and (max-width: 1500px) {
.back{
margin-left:0px;
margin-top:30px;
}
.ubi{
margin-top:40px;
}
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 0px;
  margin-top:-40px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

 /* The alert message box */
.alert {
  padding: 5px;
  background-color: #191970;
  color: white;
width: 100%;
max-width: 510px;
display: inline-block;
margin-bottom:-20px;
border-top-style: none;
border-bottom-style: solid;
border-left-style: solid;
border-right-style: solid;
border-color: #00FFFF;
border-width: 3px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

{%endblock%}

<title>{% block title %} Lecciones {% endblock %}</title>

{% block space%}
<p>&nbsp</p>
{% endblock %}

{%block header%}
 <!-- The sidebar -->
<br>
<div class="sidebar">
    <a class="back"  href="{% url 'ver' %}"> <img class="logo" src="{% static 'images/back2.png'%}"></a>
    <h5 class="ubi">{{curso.nombre}}</h5>
</div>
{%endblock%}

{% block content %}
{% if notificacion.0 %}
 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{notificacion.1}}
</div>
{% endif %}
<div class="content">
 <div class="inner-bg">
     <div class="container3">
         <table class="table" >
             <thead>
             <tr>
                 <th style="background-color: #82ACFF;">Lecciones</th>
             </tr>
             </thead>
             <tbody>
             {% for i in lista %}
             {% if i.0.pk == primera %}
             <tr class="tr1">
                 <td class="td2"><a href="{% url 'vertema' leccion_id=i.0.pk curso_id=curso.pk %}">{{i.0.nombre}}</a></td>
             </tr>
             {% elif i.1 %}
             <tr class="tr1">
                 <td class="td2"><a href="{% url 'vertema' leccion_id=i.0.pk curso_id=curso.pk %}">{{i.0.nombre}}</a></td>
             </tr>
             {% endif %}
             {% endfor %}
             </tbody>
         </table>
     </div>
 </div>
</div>
{% endblock %}

