{% extends 'base/base.html' %}
{% load staticfiles %}

{%block style%}

table{
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.tr1:hover {background-color:#8BFFFF;}



td{
cursor: pointer;
padding: 200px;
}

td, th {
color:#FFFFFF;
}

tr:nth-child(even) {
background-color: #F0F0F0;
}
tr:nth-child(odd) {
background-color: #FFFFFF;
}

.container3{
    margin: auto;
    width: 90%;
}

a {

color:#000000;
}
{%endblock%}

<title>{% block title %} Temas {% endblock %}</title>

{% block space%}
<p>&nbsp</p>
{% endblock %}

{% block content %}
 <div class="inner-bg">
     <div class="container3">
         <table class="table" >
             <thead>
             <tr>
                 <th style="background-color: #82ACFF; text-align: center;">Tema</th>
                 <th style="background-color: #82ACFF; text-align: left;padding-left: 200px;">Contenido</th>
             </tr>
             </thead>
             <tbody>
             {% for i in lista %}
             <tr class="tr1">
                 <td class="td1" style="text-align: center;"><a href=""> {{i.0.nombre}}</a></td>
                 <td class="td2" style="text-align: left;padding-left: 200px;">
                 {% if progreso >= i.0.pk %}
                     {% if i.1.presentacion == True %}
                     <a href="{% url 'presentacion' tema_id=i.0.pk %}"><img title="Presentación" class="logo" src="{% static 'images/icono_presentacion.png'%}"></a>
                      &#160; &#160;
                     {% endif %}
                     {% if i.1.podcast == True %}
                     <a href="{% url 'podcast' tema_id=i.0.pk  %}"><img title="Podcast" class="logo" src="{% static 'images/icono_podcast.png'%}"></a>
                      &#160; &#160;
                     {% endif %}
                     {% if i.1.codigo == True %}
                     <a href="JEJE"><img title="Codigo" class="logo" src="{% static 'images/icono_codigo.jpg'%}"></a>
                     &#160; &#160;
                     {% endif %}
                     <a href="{% url 'instruccionesquiz' tema_id=i.0.pk  %}"><img title="Quiz" class="logo" src="{% static 'images/icono_quiz.png'%}"></a>
                 {% endif %}
                 </td>
             </tr>
             {% endfor %}
              <tr class="tr1">
                 <td class="td3" style="text-align: center;"><a href=""> Examen </a></td>
                  <td class="td2" style="text-align: left;padding-left: 200px;">
                      {% if progreso >= examen %}
                     <a href="JEJE"><img title="Examen" class="logo" src="{% static 'images/icono_start.png'%}"></a>
                      {% endif %}
             </tr>
             </tbody>
         </table>
     </div>
 </div>
{% endblock %}

