{% extends 'base/base.html' %}
{% load staticfiles %}

 <title>{% block title %} Examen {% endblock %}</title>

{%block style%}

p {
  text-align: right;
  font-size: 20px;
  color:#FFFFFF;
}

.info{
margin-bottom:15px;
margin-top:-15px;
text-align:center;
}

.form-bottom{
background-color:#eee;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.form-top{
text-align:center;
background-color:#82ACFF;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.form-group{
margin-bottom:-15px;
}
{%endblock%}

{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><font size=6px> EducRNA <img class="logo" src="{% static 'images/logoucab3.png'%}"></font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              </a>
            </li>
          </ul>
        </div>
      </div>
</nav>
{% endblock %}

{% block space%}
<p>&nbsp</p>
{% endblock %}

{% block content %}
<div class="inner-bg">
     <div class="container">
         <div class="form-top">
              <strong>
                  <p></p>
                    <a class="titulo" target="_blank"><font color=#000000 size=6px>Examen: {{nombre_leccion}}</font></a>
                    <p class="timer" id="demo"></p>
                </strong>
         </div>
         <div class="form-bottom">
             <div class="info" >
                <strong>
                    <a class="pregunta"><font color=#000000  size=5px>{{pregunta.contenido}}</font></a>
                    <br>
                    <p></p>
                </strong>
                 {% for i in listaresp %}
                    <a class="respuesta" href="{% url 'examen2' respuesta_id=i.pk leccion_id=leccion_id %}"><font color=#000000  size=4px>
                        {{i.contenido}}
                    </font></a>
                      <br>
                      <p></p>
                 {% endfor %}
            </div>
         </div>
     </div>
 </div>
<!-- Display the countdown timer in an element -->
<script>
var timeLeft = 10;
var elem = document.getElementById('demo');
var timerId = setInterval(countdown, 1000);

function countdown() {
    if (timeLeft == -1) {
        clearTimeout(timerId);
        alert("Se acabó el tiempo, la respuesta será invalidada")
        doSomething();
    } else {
        elem.innerHTML = timeLeft + ' s';
        timeLeft--;
    }
}

function doSomething() {
     $.ajax({
             url: '/evaluaciones/examen2/%3Fr_id=0/%3Fp_id={{leccion_id}}',
             method: 'POST',
            })
}
</script>
{% endblock %}


