{% extends 'base/base.html' %}
{% load staticfiles %}

<title>{% block title %} Quiz {% endblock %}</title>

{%block style%}


.info{
margin-bottom:15px;
margin-top:-15px;
text-align:center;
}



.form-bottom{
margin-top:0px;
margin-left:125px;
width:900px;
background-color:#eee;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
text-align:center;
}

.form-top{
margin-top:50px;
margin-left:125px;
width:900px;
text-align:center;
background-color:#82ACFF;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.form-group{
margin-bottom:-15px;
}
{%endblock%}

{% block space%}

{% endblock %}

{% block content %}
<div class="inner-bg">
     <div class="container">
         <div class="form-top">
              <strong>
                  <p></p>
                    <a class="titulo" href="" target="_blank"><font color=#000000 size=6px>Quiz #{{tema_id}}</font></a>
                </strong>
         </div>
         <div class="form-bottom">
                <strong>
                    <a class="pregunta"><font color=#000000 size=5px>{{instrucciones.0}}</font></a>
                    <p>&nbsp</p>
                    <a class="pregunta"><font color=#000000 size=5px>{{instrucciones.1}}</font></a>
                    <br>
                    <p></p>
                </strong>
             <div align="center" class="form-group">
                 <a href="{% url 'quiz' tema_id=tema_id  %}" ><button style="" class="btn">Comenzar</button></a>
             </div>
         </div>
     </div>
</div>
{% endblock %}

