{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

 <title>{% block title %} Progreso {% endblock %}</title>

{%block style%}

p {
  text-align: right;
  font-size: 30px;
  margin-top: 0px;
}

.info{
margin-bottom:15px;
margin-top:-15px;
text-align:center;
}

.form-bottom{
background-color:#eee;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.form-top{
text-align:center;
background-color:#82ACFF;
box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
}

.form-group{
margin-bottom:-15px;
}
{%endblock%}

{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><font size=6px> EducRNA <img class="logo" src="{% static 'images/logoucab3.png'%}"></font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              </a>
            </li>
          </ul>
        </div>
      </div>
</nav>
{% endblock %}

{% block space%}
<p>&nbsp</p>
{% endblock %}

{% block content %}
<div class="inner-bg">
     <div class="container">
         <div class="form-top">
              <strong>
                  <p></p>
                    <a class="pregunta" href="" target="_blank"><font color=#000000 size=6px>Quiz {{tema_id}}</font></a>
                </strong>
         </div>
         <div class="form-bottom">
             <div class="info" >
                 {% if mensaje == "true" %}
                 {% for success in messages %}
                 <div class="alert alert-success">
                     {{ success }}
                 </div>
                 {% endfor %}
                 {% elif mensaje == "false" %}
                 {% for message in messages %}
                 <div class="alert alert-danger">

                     {{ message }}
                 </div>
                 {% endfor %}
                 {% endif %}
                <strong>
                    <a class="pregunta"><font color=#000000  size=5px>{{pregunta}}</font></a>
                    <br>
                    <p></p>
                </strong>
                 {% for i in listaresp %}
                  <strong>
                    {% if i.correcta %}
                    <a class="respuesta"><font color=#32CD32  size=4px>
                        {{i.contenido}}
                    </font></a>
                      <br>
                      <p></p>
                    {% elif not i.correcta %}
                      <a class="respuesta"><font color=#FF0000  size=4px>
                        {{i.contenido}}
                    </font></a>
                      <br>
                      <p></p>
                    {% endif %}
                </strong>
                 {% endfor %}
            </div>
             <div align="center" class="form-group">
                 <a href="{% url 'vertema' leccion_id=leccion curso_id=curso_id  %}" ><button style="background-color:#0000FF;" class="btn">Finalizar</button></a>
             </div>
         </div>
     </div>
 </div>
{% endblock %}


