{% extends 'registration/registrar.html' %}
{% load staticfiles %}

<title>{% block title %} Recuperar constraseña {% endblock %}</title>

{%block style%}
<style>
input {
border:1px solid #ccc;
width: 100%;

box-sizing: border-box;

}
label {
width:30%;
display:inline-block;
}
.errorlist{
    color: red;
}
.help{
    color: navy;
}
</style>
{%endblock%}

{% block header %}
{% endblock %}

{%block content%}
    {% if validlink %}
    <div class="top-content">

            <div class="inner-bg">
                <div class="container2">
                    <div class="row">
                        <div class="col-md-12 col-sm-offset-2 text">
                            <h1><strong>Recuperar contraseña</strong> </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-2 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Recupere su contraseña</h3>
                        			<p></p>
                            		<p>Ingrese su correo</p>
                        		</div>
                                <div class="form-top-right col-sm-11">
                        			<i><img class="logo" src="{% static 'images/lock.png'%}"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                                <div class="">
                                </div>
                                <div class="container3">
                                <form method="post">
                                    {% csrf_token %}
                                    {{form.new_password1.errors}}
                                    <label for="id_new_password1">Nueva contraseña:</label>
                                    {{form.new_password1}}

                                    {{form.new_password2.errors}}
                                    <label for="id_new_password2">Confirme contraseña:</label>
                                    {{form.new_password2}}
                                    <p></p>
                                    <button type="submit" class="btn">Cambiar contraseña</button>
                                </form>
                                </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
                <div class="top-content">

            <div class="inner-bg">
                <div class="container2">
                    <div class="row">
                        <div class="col-md-12 col-sm-offset-2 text">
                            <h1><strong>Recuperar contraseña</strong> </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-2 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Enlace Invalido</h3>
                                    <p></p>
                            		<p>Este ya ha sido utilizado previamente</p>
                        		</div>
                                <div class="form-top-right col-sm-11">
                        			<i><img class="logo" src="{% static 'images/lock.png'%}"></i>
                        		</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{%endblock%}

{% block footer %}
{% endblock %}

